  <li>
    <%=comment.body%>
    <span><%=comment.likes%></span>
    <%=comment.author.username%>
    <%= link_to "upvote", upvote_path(comment)  %>
    <%= link_to "downvote", downvote_path(comment)  %>
  </li>
<hr>
