<!DOCTYPE html>
<html>
<head>

  <title>Client</title>
  <%= stylesheet_link_tag  'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Darity</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Charities', charities_path %></li>
          <li><%= link_to 'About Us', about_path %></li>
          <li class="dropdown hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Find User <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" id="user-find">
              <li id="drop-search">
                <form id="signin" class="navbar-form navbar-left" role="form">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input id="user-search" type="text" class="form-control" name="search" value="" placeholder="find users">
                  </div>
                </form>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <% if current_user %>
          <li><%= link_to 'My Feed', feed_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Profile Page', current_user %></li>
              <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to 'Sign out', signout_path %></li>
            </ul>
          </li>
          <% else %>

          <li class="hidden-xs hidden-sm"><p class="navbar-text">Already have an account?</p></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Log In</b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu navform-style">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    Log in via
                    <div class="social-buttons">
                      <!-- <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a> -->
                      <a href="/auth/twitter" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                    <p>or</p>
                    <%= bootstrap_form_for @user || User.new, url: login_path, html: { class: 'login-user' } do |f| %>
                    <%= f.email_field :email %>
                    <%= f.password_field :password %>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </div>
                    <% end %>
                  </div>
                  <div class="bottom text-center">
                  New here? <a href="#" id="show-signup"><b>Join Us</b></a>
                  </div>
                </div>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Sign Up</b> <span class="caret"></span></a>
            <ul id="signup-dp" class="dropdown-menu navform-style">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    Sign up via
                    <div class="social-buttons">
                      <!-- <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a> -->
                      <a href="/auth/twitter" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                    <p>or</p>
                    <%= bootstrap_form_for @user || User.new do |f| %>
                    <%= f.text_field :username %>
                    <%= f.email_field :email %>
                    <%= f.password_field :password, class: "signup-password"%>
                    <%= f.password_field :password_confirm, class: "signup-password-confirm"%>
                    <div class="invalid-sign-up alert alert-danger" style='display:none'></div>
                    <%= f.submit "Sign Up", class: "btn btn-primary btn-block" %>
                    <% end %>
                  </div>
                  <div class="bottom text-center">
                    Already signed up? <a href="" id="show-login"><b>Log in</b></a>
                  </div>
                </div>
              </li>

            </ul>
          </li>
        <% end %>
        </ul>
      </div>  <!-- end navbar-collapse -->
    </div> <!-- end container -->
  </nav>

  <% if flash[:notice] %>
  <div class="container">
    <div class="alert alert-success">
      <i class="fa fa-check-circle"></i>
      <%= flash[:notice] %>
    </div>
  </div>
  <% end %>

  <% if flash[:error] %>
  <div class="container">
    <div class="alert alert-danger">
      <i class="fa fa-exclamation-circle"></i>
      <%= flash[:error] %>
    </div>
  </div>
  <% end %>

  <%= yield %>

</body>
</html>
