<li>
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src=<%=comment.author.image_url%>>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= comment.author.username %></h4>
        <%= comment.body %>
        <span><%=comment.likes_count%></span> 
          <%= link_to upvote_path(comment), class: "btn btn-default btn-sm" do %> 
            <i class="fa fa-thumbs-o-up"></i>
          <% end %>
          <%= link_to downvote_path(comment), class: "btn btn-default btn-sm" do %>
            <i class="fa fa-thumbs-o-down"></i>
          <% end %>
      <div class="media">
        <%= comment.created_at.strftime("%I:%M%p %m/%d/%y") %>
      </div>
    </div>
  </div>
</li>
<hr>
