<section class="container">
  <input id="search-bar" type="text" placeholder="search">

  <h1>Welcome to Darity</h1>

  <div class="user-wrap">

  <p>ALL USERS:</p>
    <% @users.each do |user| %>
    <p>
      <%= user.username.capitalize %>
      <%= link_to 'Dare', user %>
    </p>
    <% end %>
  </div>
</section>

<div style="display: none;" id="invite-twitter" class="container">

  <%= form_for @pending_dare, url: user_invite_path do |f| %>
  <p id="handle-p"></p>
  <p id="invalid" style="display: none;">invalid</p>
    <%= f.hidden_field :twitter_handle, id: 'handle-in' %>
    <%= f.text_field :title %>
    <%= f.text_area :description %>
    <%= f.submit "dare this person" %>
  <% end %>
</div>
