<h1>Welcome <%=@user.username%></h1>

<h3>DARES THAT THE USER HAS DONE STUFF WITH</h3>
<hr>

<p>Challenged Dares: (dares you have made)</p>
<% @challenged_dares.each do |dare| %>
  <%= link_to dare.title %>
  <p><%= dare.description %></p>
<% end %>

<hr>

<p>Proposed Dares: (dares you have been challenged)</p>
<% @proposed_dares.each do |dare| %>
  <%= link_to dare.title, '#' %>
  <p><%= dare.description %></p>
  <%= link_to 'Accept Dare', '#' %>
  <%= link_to 'Decline Dare', '#' %>
<% end %>

<hr>

<p>Pledged Dares: (dares you pay for)</p>
<% @pledged_dares.each do |dare| %>
  <%= link_to dare.title, '#' %>
  <p><%= dare.description %></p>
<% end %>
