<h1>Welcome <%=@user.username%></h1>

<h3>DARES THAT THE USER HAS DONE STUFF WITH</h3>
<hr>

<p>Challenged Dares: (dares you have been challenged)</p>
<% @challenged_dares.each do |dare| %>
  <p><%= link_to dare.title, user_dare_path(dare.proposer, dare) %></p>
  <p><%= dare.description %></p>
<% end %>

<hr>

<p>Proposed Dares: (dares you have proposed)</p>
<% @proposed_dares.each do |dare| %>
  <p><%= link_to dare.title, user_dare_path(dare.proposer, dare) %></p>
  <p><%= dare.description %></p>
  <p>Proposed Dares</p>
<% end %>

<hr>

<p>Pledged Dares: (dares you pay for)</p>
<% @pledged_dares.each do |dare| %>
  <p><%= link_to dare.title, user_dare_path(dare.proposer, dare) %></p>
  <p><%= dare.description %></p>
<% end %>
