<main class="container">

  <div class="row">
    <section class="user col col-md-3 panel panel-default">
      <div class="panel-body">
        <h1><%= @user.username.capitalize %>'s Page</h1>
        <%= image_tag @user.image_url %>

      <% if @user == current_user %>
        <%= link_to "Dare Yourself!", new_user_dare_path(current_user) + "?daree=#{@user.id}", class: 'btn btn-danger btn-lg' %>
      <% elsif current_user %>
        <%= link_to "DARE!", new_user_dare_path(current_user) + "?daree=#{@user.id}", class: 'btn btn-danger btn-lg' %>
        <% if @relationship.any? %>
          <%= link_to "unfollow", user_relationship_path(@user, @relationship), method: :delete, class: 'btn btn-default' %>
        <% else %>
          <%= link_to "follow", user_relationships_path(@user), method: :post, class: 'btn btn-default' %>
        <% end %>
      <% end %>

      <ul>
        <%= render @followees %>
      </ul>

      </div>
    </section>


    <section class="dares col col-md-9 panel panel-default">
      <div class="panel-body">

        <ul class="nav nav-tabs">
          <li role="presentation"><a href="" id="challenged">challenged</a></li>
          <li role="presentation"><a href="" id="proposed">proposed</a></li>
          <li role="presentation"><a href="" id="pledged">pledged</a></li>
        </ul>

        <div id="view-dares"></div>
      </div>
    </section>
  </div>
</main>
