<h1><%= @user.username.capitalize %>'s Page</h1>

<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Hello%20world"
  data-size="large">
TWEET DARE</a>
<%= link_to "dare #{@user.username.capitalize}!", new_user_dare_path(current_user) + "?daree=#{@user.id}" %>
<p>Challenged Dares: (dares <%= @user.username %> has been challenged)</p>
<% @challenged_dares.each do |dare| %>
  <p><%= link_to dare.title, user_dare_path(dare.proposer, dare) %></p>
  <p><%= dare.description %></p>
<% end %>

<hr>

<p>Proposed Dares: (dares <%= @user.username %> has proposed)</p>
<% @proposed_dares.each do |dare| %>
  <p><%= link_to dare.title, user_dare_path(dare.proposer, dare) %></p>
  <p><%= dare.description %></p>
  <p>Proposed Dares</p>
<% end %>

<hr>

<p>Pledged Dares: (dares <%= @user.username %> pay for)</p>
<% @pledged_dares.each do |dare| %>
  <p><%= link_to dare.title, user_dare_path(dare.proposer, dare) %></p>
  <p><%= dare.description %></p>
<% end %>
