<div class="backed"></div>

<section class="container">

  <div class="row">

    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= bootstrap_form_for [@user, @dare] do |f| %>
            <%= f.text_field :title, required: true %>
            <%= f.text_area :description, required: true %>
            <%= f.submit :Submit, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3><%= @dare.title %></h3>
          <p><%= @dare.description %></p>
          <p>you dare <%= link_to @daree.username, @daree %></p>
          <%= link_to raw('<i class="fa fa-long-arrow-left"></i> ' + "back"),  user_dare_path(@user, @dare), class: 'btn btn-default btn-sm' %>
        </div>
      </div>
    </div>

  </div>
</section>



