<div class="backed"></div>

<section class="container">

  <div class="row">

    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= bootstrap_form_for [@user, @dare] do |f| %>
          <legend>new dare</legend>
          <%= f.text_field :title, required: true %>
          <%= f.text_area :description, required: true %>
          <%= f.submit :Submit, class: 'btn btn-danger' %>
          <%= f.hidden_field :daree_id, value: params[:daree] %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Can't think of a Dare? Click the generate button to get the creative juices flowing!</h4>

          <button class="btn btn-default generate" href="<%= @user.id %>">
            Click to generate Dare!
          </button>

          <button class="btn btn-default use-dare" href="<%= @user.id %>" style="display: none">
            Use Dare!
          </button>

          <script id="generated-dare" type="text/x-handlebars-template">
          <h4>{{description}}</h4>
          </script>

          <div id="gen-dare">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
