<div class="backed"></div>

<div class="container">
  <div class="panel panel-body">
    <div class="panel-heading">
      <h1><%= @dare.title %></h1>
    </div>
    <div class="panel-body">

      <p><%= @dare.description %></p>

      <hr>

      <%= bootstrap_form_for @dare, layout: :horizontal, url: put_price_path(@proposer, @dare) do |f| %>
        <%= f.number_field :price, prepend: '$'  %>
        <%= f.select :charity, @charities.map { |char| [char.name, char.name]}  %>
        <%= f.submit :submit, class: 'col-md-offset-4, btn btn-danger' %>
      <% end %>

      <p>proposed by: <%= @proposer.username.capitalize %></p>
      <p>proposed to: <%= @daree.username.capitalize %></p>

      <p><%= link_to "back",  user_dares_path(@daree) %></p>
    </div>
  </div>
</div>
