<div class="backed"></div>

<div class="container">
  <div class="row">

    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render partial: 'button_group', locals: {dare: @dare} %>
          <div class="dare-intro">
            <h3><%= @dare.title %></h3>
            <p><%= @dare.description %></p>
          </div>
          <hr>
          <div class="dare-video">

            <% if @video %>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @url %>" frameborder="0" allowfullscreen></iframe>
            <% elsif @dare.price %>
              <%= image_tag 'gopher_accepted.png', class: 'gopher' %>
            <% else %>
              <%= image_tag 'gopher_pending.png', class: 'gopher' %>
            <% end %>
            <p>
              <% if @pledgers.include?(current_user)  %>
                <button class="btn btn-default approve" href="<%= @dare.id%>">
                  Approve Dare Vid as Pledger!
                </button>

                <button class="btn btn-default disapprove" href="<%= @dare.id%>">
                  <!-- unacceptaaable! -->
                  Disapprove Dare Vid as Pledger!
                </button>
              <% end %>
            </p>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">

          <p><%= link_to @proposer.username.capitalize, @proposer %> dares <%= link_to @daree.username.capitalize, @daree %></p>
          <p><%= @pledgers.count %> contributers total</p>


          <p><% @pledgers.uniq.each do |user| %>
            <%= render user %>
          <% end %></p>

          <% if @dare.price %>
            <p>$<%= @pledged %> of $<%= @dare.price.to_i %>
              <% if @charity %>
              collected for <%= link_to @charity.name, @charity.url %>
              <% end %>
            </p>

            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:<%= (@pledged / @dare.price)*100 %>%;">
              </div>
            </div>
          <% end %>

          <% if current_user == @proposer %>
            <% if !@dare.price %>
              <%= link_to "edit", edit_user_dare_path(@proposer, @dare), class: "btn btn-default" %>
              <%= link_to "delete", user_dare_path(@proposer, @dare), method: :delete, class: "btn btn-default" %>
            <% end %>
            <%= link_to "contribute", new_donation_path(@dare), class: "btn btn-default" %>
          <% elsif current_user == @daree %>
            <%= link_to "delete", user_dare_path(@proposer, @dare), method: :delete, class: "btn btn-default" %>
            <% if @dare.price %>
              <% if !@video %>
                <%= link_to "upload video", new_video_path(@dare), class: "btn btn-default" %>
              <% end %>
            <% else %>
              <%= link_to "accept", set_price_path(@proposer, @dare), class: "btn btn-default" %>
            <% end %>
          <% else %>
            <%= link_to "contribute", new_donation_path(@dare), class: "btn btn-default" %>
          <% end %>

          <% if current_user %>
            <%= tweet_button user: current_user, dare: @dare, message: 'Tweet it' %>
          <% end %>

        </div>
      </div>
    </div>
  </div>



  <div class="panel panel-default wid-90">
    <div class="panel-body wid-90">
      <h2>Comments</h2>


      <% if current_user %>

        <%= bootstrap_form_for @comment, id: current_user do |f| %>
          <%= f.text_area :body, required: true %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :dare_id, value: @dare.id %>
          <%= f.submit :submit %>
        <% end %>

      <% else %>

       <a href="/auth/twitter" class="btn btn-tw"><i class="fa fa-twitter"></i> Sign up to leave a comment </a>

      <% end %>

       <script id="new-dare-comment" type="text/x-handlebars-template">
        <li class="list-group-item">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="{{image_url}}">
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{username}}</h4>
                <p>{{comment.body}}</p>
                <span>{{ comment.likes_count }}</span>
                  <a href="/comments/{{comment.id}}/upvote" class="btn btn-default btn-sm">
                    <i class="fa fa-thumbs-o-up"></i>
                  </a>
                  <a href="/comments/{{comment.id}}/downvote" class="btn btn-default btn-sm">
                    <i class="fa fa-thumbs-o-down"></i>
                  </a>
              <div class="media pull-right">
                just now
              </div>
            </div>
          </div>
        </li>
       </script>

      <ul class="comment-list list-group">
        <%= render @comments %>
      </ul>
    </div>
  </div>

</div>



