<div class="backed"></div>

<section class="container">
  <h1>Find people to dare</h1>
  <form class="row">
    <div class="form-group col-md-3 col-sm-4">
      <div class="input-group">
        <div class="input-group-addon">@</div>
        <input id="search-bar" type="text" placeholder="find users to dare" class="form-control input-md" value="<%= params[:search] %>">
      </div>
    </div>
  </form>

  <h2>Our Users:</h2>
  <div class="user-wrap">

    <%= will_paginate %>
    <ul>
      <%= render @users %>
    </ul>

  </div>
</section>

<div style="display: none;" id="invite-twitter" class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Invite <span id="handle-p"></span> on twitter with their first Dare!</h3>
          <%= bootstrap_form_for @pending_dare do |f| %>
          <p id="invalid" style="display: none;">Not a valid twitter handle</p>
            <%= f.hidden_field :twitter_handle, id: 'handle-in' %>
            <%= f.text_field :title %>
            <%= f.text_area :description %>
            <%= f.submit "Tweet this Dare!", class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Can't think of a Dare? Click the generate button to get the creative juices flowing!</h4>

          <button class="btn btn-success generate" href="#">
            Generate a Dare!
          </button>

          <button class="btn btn-danger use-dare" href="#" style="display: none">
            Autofill
          </button>

          <div id="gen-dare" class="well">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



