<div class="backed"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= bootstrap_form_for [@dare, @video] do |f| %>
            <%= f.text_field :title, required: true %>
            <%= f.text_area :description, required: true %>
            <%= f.file_field :file, required: true %>
            <%= f.submit :upload, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3><%= @dare.title %></h3>
          <p><%= @dare.description %></p>
          <p><%= link_to @dare.proposer.username, @dare.proposer %> dares you</p>
          <%= link_to raw('<i class="fa fa-long-arrow-left"></i> ' + "back"),  user_dare_path(@dare.proposer, @dare), class: 'btn btn-default btn-sm' %>
        </div>
      </div>
    </div>
  </div>
</div>

