<div class="backed"></div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Donation for <%= @charity ? link_to(@charity.name, @charity.url) : 'charity' %></h3>
          <%= bootstrap_form_for @donation, layout: :horizontal do |f| %>
            <%= f.text_field :donation_amount, prepend: '$', required: true %>
            <%= f.submit "Submit", class: 'btn btn-success' %>
          <% end %>

          <hr>

          <div class="dare-info">
            <p><%= link_to @proposer.username, @proposer %> dares <%= link_to @daree.username, @daree %></p>
            <p>Total Pledgers: <%= @dare.donations.count %></p>
            <% if @dare.price %>
              <p>$<%= @pledged %> of $<%= @dare.price.to_i %> collected</p>

              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:<%= (@pledged / @dare.price)*100 %>%;">
                </div>
              </div>
            <% end %>
          </div>

          <%= back_button [@proposer, @dare] %>

        </div>
      </div>
    </div>
  </div>
</div>
