<div class="container">
  <h3>Donation for <%= link_to @charity.name, @charity.url %></h3>
  <%= bootstrap_form_for @donation, html: {class: "form-inline"} do |f| %>
    <%= f.text_field :donation_amount %>
    <%= f.submit "Submit", class: 'btn btn-success' %>
  <% end %>
</div>

<div class="dare-info">
  <p>proposed to: <%= link_to @daree.username.capitalize, @daree %></p>
  <p>Total Pledgers: <%= @dare.donations.count %></p>
  <% if @dare.price %>
    <p>$<%= @pledged %> of $<%= @dare.price.to_i %> collected</p>

    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:<%= (@pledged / @dare.price)*100 %>%;">
      </div>
    </div>
  <% end %>
</div>
