<h1><%= @dare.title %></h1>

<p><%= @dare.description %></p>

<%= form_for @dare, url: put_price_path(@dare.proposer, @dare) do |f| %>
  <%= f.label :price %>
  <%= f.number_field :price  %>
  <%= f.label :charity %>
  <%= f.select :charity do  %>
    <% @charities.each do |charity| %>
      <%= content_tag :option, charity.name, value: charity.name %>
    <% end %>
  <% end %>
  <%= f.submit :submit %>
<% end %>

<p>proposed by: <%= @dare.proposer.username.capitalize %></p>
<p>proposed to: <%= @dare.daree.username.capitalize %></p>

<p><%= link_to "home",  user_dares_path(@daree) %></p>
