<h1><%= @dare.title %></h1>


<% if current_user == @proposer %>
  <%= link_to "edit", edit_user_dare_path(@proposer, @dare) %>
  <%= link_to "delete", user_dare_path(@proposer, @dare), method: :delete %>
<% elsif current_user == @daree %>
  <%= link_to "delete", user_dare_path(@proposer, @dare), method: :delete %>
  <%= link_to "accept", set_price_path(@proposer, @dare) %>
<% end %>


<p><%= @dare.description %></p>

<p>proposed by: <%= link_to @proposer.username.capitalize, @proposer %></p>
<p>proposed to: <%= link_to @dare.daree.username.capitalize, @dare.daree %></p>

