<div class="container">
  <h1><%= @dare.title %></h1>


<% if current_user == @proposer %>
  <%= link_to "edit", edit_user_dare_path(@proposer, @dare) %>
  <%= link_to "delete", user_dare_path(@proposer, @dare), method: :delete %>
  <%= link_to "contribute", new_donation_path(@dare) %>
<% elsif current_user == @daree %>
  <%= link_to "delete", user_dare_path(@proposer, @dare), method: :delete %>
  <% if @dare.price %>
    <% if !@video %>
      <%= link_to "upload video", new_video_path(@dare) %>
      <% end %>
  <% else %>
    <%= link_to "accept", set_price_path(@proposer, @dare) %>
  <% end %>
<% else %>
  <%= link_to "contribute", new_donation_path(@dare) %>
<% end %>


<% if @video %>
  <p>HERE IS THE VIDEO</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @url %>" frameborder="0" allowfullscreen></iframe>
<% end %>

  <p><%= @dare.description %></p>
  <p>Total Pledgers: <%= @dare.donations.count %></p> 

  <% if @dare.price %>
    <p>$<%= @pledged %> of $<%= @dare.price.to_i %> collected</p> 
    
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:<%= (@pledged / @dare.price)*100 %>%;">
      </div>
    </div>
  <% end %>

  <p>proposed by: <%= link_to @proposer.username.capitalize, @proposer %></p>
  <p>proposed to: <%= link_to @daree.username.capitalize, @daree %></p>


  <%= form_for @comment do |f| %>
    <%= f.label :comment %>
    <%= f.text_area :body %>
    <%= f.submit :submit %>
  <% end %>


  <ul>
    <%= render @comments %>
  </ul>

</div>
